<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsw.summercloud.archive.mapper.ResourceInfoMapper">
    <resultMap id="BaseResultMap" type="com.wsw.summercloud.archive.entities.ResourceInfoEntity">
        <id column="resource_id" jdbcType="BIGINT" property="resourceId"/>
        <result column="data" jdbcType="VARCHAR" property="data"/>
        <result column="enable_type" jdbcType="INTEGER" property="enableType"/>
        <result column="archive_status" jdbcType="INTEGER" property="archiveStatus"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        resource_id,
        `data`,
        enable_type,
        archive_status,
        created_time,
        updated_time
    </sql>

    <update id="updateResourceInfoArchiveStatus" parameterType="java.util.List">
        update resource_info
        set archive_status = 1
        where resource_id in
        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="getNotArchivedResources" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource_info
        where enable_type = 1
        and archive_status = 0
        and created_time <![CDATA[<=]]> #{createdTime}
    </select>

    <select id="selectResourceInfos" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource_info
        <where>
            <if test="query.resourceId != null">
                and resource_id = #{query.resourceId,jdbcType=BIGINT}
            </if>
            <if test="query.enableType != null">
                and enable_type = #{query.enableType,jdbcType=INTEGER}
            </if>
            <if test="query.archiveStatus != null">
                and archive_status = #{query.archiveStatus,jdbcType=INTEGER}
            </if>
            <if test="query.createdTimeBegin != null">
                and created_time <![CDATA[>=]]> #{query.createdTimeBegin,jdbcType=TIMESTAMP}
            </if>
            <if test="query.createdTimeEnd != null">
                and created_time <![CDATA[<=]]> #{query.createdTimeEnd,jdbcType=TIMESTAMP}
            </if>
            <if test="query.updatedTimeBegin != null">
                and updated_time <![CDATA[>=]]> #{query.updatedTimeBegin,jdbcType=TIMESTAMP}
            </if>
            <if test="query.updatedTimeEnd != null">
                and updated_time <![CDATA[<=]]> #{query.updatedTimeEnd,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by updated_time desc
    </select>
</mapper>